<div class="container">
    <div class="container_inner default_template_holder clearfix page_container_inner">
        <h2>POLÍTICA DE PRIVACIDAD </h2>
        <p>En cumplimiento con lo dispuesto por la Ley Federal de Protección de Datos que actualmente rige, le
            informamos que los datos personales que nos sean proporcionados serán utilizados únicamente para los fines
            que más adelante mencionamos.</p>
        <p>Usted tiene derecho a solicitar la limitación del uso o divulgación de la información proporcionada, así como
            a reclamar sus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) en términos de la Ley antes
            referida, acudiendo a nuestro domicilio, llamando a la línea telefónica o enviando un mensaje a nuestro
            correo electrónico. Los cambios que pudieran efectuarse al presente aviso serán comunicados en su
            oportunidad por este medio o por aquellos que se estimen pertinentes.</p>
        <p><strong class="colorp">RESPONSABLE DEL TRATAMIENTO DE SUS DATOS PERSONALES</strong></p>
        <p>El responsable del tratamiento de sus datos personales será: CEPE MARKETING VERDE, S.A. DE C.V.</p>
        <p><strong class="colorp">DOMICILIO</strong></p>
        <p>Para efectos del presente aviso de privacidad,<strong class="colorp">&nbsp;CEPE MARKETING VERDE, S.A. DE
                C.V.</strong>&nbsp;señala como su domicilio el ubicado en CERRO DE LAS CAMPANAS NO. 3 / 218, SAN ANDRES
            ATENCO; TLALNEPANTLA, ESTADO DE MEXICO. C.P. 54040</p>
        <p><strong class="colorp">CORREO ELECTRÓNICO</strong></p>
        <p>Correo Electrónico: <a href="mailto:contacto@mktv.mx">contacto@mktv.mx</a></p>
        <p>En la venta de productos y prestación de servicios, así como en todas las operaciones propias de su
            giro,&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong>, recabará entre otros los
            siguientes datos personales enlistados de manera enunciativa, mas no limitativa, según sea el caso: nombre o
            razón social, dirección de correo electrónico, número telefónico, ciudad de origen, país de origen, RFC,
            domicilio, información relacionada con cuentas y tarjetas bancarias, número de expediente catastral de
            bienes inmuebles, valores catastrales de bienes inmuebles, superficies de bienes inmuebles, información
            relacionada con llavero electrónico, datos de facturación, nombres de usuarios de dominio para diversas
            plataformas, religión, sexo, estatura, peso, CURP, referencias personales, referencias bancarias,
            trayectoria profesional, escolaridad, pasatiempos, intereses, información relacionada con el buró de
            crédito, información médica, información relacionada con contratación de seguros y gastos médicos,
            información relacionada con su seguridad social, entre otros.</p>
        <p><strong class="colorp">FINALIDADES DEL TRATAMIENTO DE SUS DATOS PERSONALES</strong></p>
        <p>Los datos personales que&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V</strong>., recabe
            serán usados principalmente para:</p>
        <ul>
            <li>Atención a Clientes, Proveedores y Prestadores de Servicios</li>
            <li>Monitoreo de la Calidad del Servicio al Cliente y Encuestas de Satisfacción</li>
            <li>Cumplir con las obligaciones contraídas aceptadas</li>
            <li>Envío de Publicidad y Promociones</li>
            <li>Investigación y Estudios de Mercado</li>
            <li>Reclutamiento y / o Selección de Empleados o Solicitantes de Empleo, Proveedores y Prestadores de
                Servicio.</li>
            <li>Celebrar diversos contratos y convenios con Empleados, Proveedores, Prestadores de Servicios y terceros
                en general.</li>
        </ul>
        <p><strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong>&nbsp;podrá transferir sus datos personales
            a terceros mexicanos o extranjeros que le provean de servicios necesarios para su debida operación, así como
            a sus afiliadas, subsidiarias, controladoras, asociadas, comisionistas o sociedades integrantes
            de&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong>&nbsp;En dichos supuestos, le
            informamos que&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong>&nbsp;adoptará las
            medidas necesarias para que las personas que tengan acceso a sus datos personales cumplan con la política de
            privacidad de&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong>&nbsp;así como con los
            principios de protección de datos personales establecidos en la Ley.</p>
        <p>Se hace de su conocimiento que&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE
                C.V.</strong>&nbsp;puede utilizar «cookies» para confirmar su identificación, personalizar su acceso a
            esta aplicación y revisar su uso, con el sólo propósito de mejorar su navegación y sus condiciones de
            funcionalidad, toda vez que mediante las citadas “cookies” no se recaban datos personales de los usuarios en
            términos de la Ley Federal de Protección de Datos.</p>
        <p>Esta aplicación puede contener enlaces externos, de los cuales el contenido y políticas de privacidad no son
            responsabilidad de&nbsp;<strong class="colorp">CEPE MARKETING VERDE, S.A. DE C.V.</strong></p>


    </div>
</div>