<div class="main-container">
    <section class="main-container">
        <div class="table-responsive">
            <div>
                <h2>Por:  {{myProducts[0].profil.idProfile }} <b>{{myProducts[0].profil.nombre}} {{myProducts[0].profil.email}}</b></h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="search-box float-left mb-6">
                            <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                            <a class="search-btn">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"> #2</th>
                        <th scope="col"> Nombre </th>
                        <th scope="col"> Descripcion </th>
                        <th scope="col"> Portada </th>
                        <th scope="col"> Cantidad </th>
                        <th scope="col"> Medida </th>
                        <th scope="col"> &nbsp; </th>
                        <th scope="col"> &nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let myproduct of myProducts | filter:filterPost  ; index as i">
                        <th scope="row "> {{i+1}} </th>
                        <td>{{myproduct.nombre}} </td>
                        <td>{{myproduct.descripcion}} </td>
                        <td></td>
                        <td>{{myproduct.cantidad}} </td>
                        <td>{{myproduct.medida}}</td>

                        <td>
                            <button class="btn btn-primary " data-toggle="modal" data-target="#modalMyProducts">Actualizar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger ">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<app-modal-my-products></app-modal-my-products>