            .o-order__search {
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: 40px 19px;
                margin-bottom: 68px;
                width: 100%;
            }

            .input-container {
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                margin-bottom: 15px;
            }

            .icon {
                padding: 10px;
                background: #743B8F;
                color: white;
                min-width: 50px;
                text-align: center;
                height: 31px;
            }

            .input-field {
                width: 100%;
                padding: 10px;
                outline: none;
            }

            .input-field:focus {
                border: 2px solid dodgerblue;
            }

            .card-book,
            .card {
                margin-bottom: 10px;
                height: 550px;
                width: auto;
                background-color: rgba(0, 0, 0, 0.3);
            }

            .card-body img {
                width: auto;
                height: 165px;
            }

            .card-body p,
            h4 {
                color: white;
            }

            .container-precio-idioma p {
                margin-left: 36%;
                background: #743B8F;
                color: white;
            }

            .for {
                background: #82E89B;
                margin-left: 35%;
                text-align: center;
                color: black;
                font-size: 12px;
                width: 35%;
            }

            .lower button {
                background: #418215;
                color: white;
            }
