<div class="contenedor">
    <img src="../../../assets/img/banner_tienda.jpg" class="d-block w-100" alt="Responsive image">
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="search-box float-left mb-3 ">
                    <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                    <a class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <div class="pagen float-right mb-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class=" page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-container">
    <div class="row">
        <div class="col-3" *ngFor="let product of dataProducts | filter:filterPost">
            <mat-card class="card">
                <mat-card-content>
                    <div class="card-body text-center">
                        <img class="rounded" alt="Responsive image" mat-card-image src="{{product.portada}} ">
                    </div>
                    <h4 routerLink="/product/{{product.id}} " class="card-title text-center"><b>{{product.nombre}}</b></h4>
                    <p class="text-center">
                        Cantidad disponible : {{product.cantidad}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="alertProduct() ">Me interesa</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>
