<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <span class="fas fa-store iconstore"></span><b style="font-size: 30px;">Tienda</b>
                <div class="search-box float-right mb-3 ">
                    <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                    <a class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id=" product " class="mt-3 ">
    <div class="main-container">
        <div class="card-columns">
            <div *ngFor="let product of dataProducts | filter:filterPost">
                <div class="card ">
                    <img src="{{product.portada}} " class="card-img-top" alt="{{product.nombre}}">
                    <div class="card-body">
                        <h4 routerLink="/product/{{product.id}} " class="card-title "><b>{{product.nombre}}</b></h4>
                        <p class="card-text text-justify">
                            {{product.descripcion }}
                        </p>
                    </div>
                    <div class="lower ">
                        <div class="container-precio-idioma ">
                            <p class="badge badge-info text-justify ">
                                {{product.cantidad}} pzas disponibles
                            </p>
                        </div>
                        <div class="for ">
                            <p> Por: {{product.profil.nombre}}</p>
                        </div>
                        <button class="btn btn-block " (click)="alertProduct() ">Me interesa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>