.form-control.login-user {
   border: 0 solid #fff !important;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 100%;
}

.colotbtn{
    appearance: none;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: whitesmoke;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    background-color: #418215;
    border-radius: 2rem;
} 

