.main-container {
    margin-top: 5px;
    padding: 15px;
}

.color {
    color: black;
}

.card {
    margin-top: 20px;
    max-width: 400px;
    height: 165px;
    background-color: transparent;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

mat-card-content {
    max-height: 160px;
}

mat-card-image img {
    height: 20px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20%;
}

.actualizar {
    background: #418215;
    color: white;
    margin-left: 8px;
    margin-right: 5px;
    font-size: 12px;
}

.eliminar {
    background-color: red;
    color: white;
    margin-left: 10px;
    font-size: 12px;
}

mat-card-content p {
    color: black;
    max-width: 100%;
}

.card-body img {
    width: auto;
    height: 165px;
    color: black;
}

mat-card-content h4 {
    color: black;
}

mat-button {
    border-radius: 10px;
    color: red;
}


/* buscador */

.search-box {
    position: relative;
    top: 80%;
    left: 80;
    background: rgb(241, 239, 241);
    height: 40px;
    padding: 10px;
}

.search-btn {
    color: whithe;
    float: rigth;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    border: black;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: gray;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
}

.mat-paginator {
    border: none;
    background: none;
}