<img src="../../../assets/img/Banner_ofertas.jpg" class="img-fluid" alt="Responsive image">

<div class="main-container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="search-box float-left mb-6 ">
                    <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                    <a class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of resultados | filter:filterPost">
            <mat-card class="card">
                <mat-card-content>
                    <!-- <h4 routerLink="/product/{{product.id}} " class="card-title text-center"><b>Nuestro {{product.id}}</b></h4> -->
                    <p class="text-center">
                        Contenido <b class="color">{{product.contenido}}  </b>
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card-actions class="col-12">
                <button class="btn actualizar" (click)="openDialog(product.id)">Actualizar</button>
                <button class="btn eliminar" (click)="eliminarPost(product)">Eliminar</button>
            </mat-card-actions>
        </div>
    </div>
</div>
