.main-container{
    margin-top: 1px;
    margin-top: 2px;
    padding: 20px;
}

.card-book,
.card {
    margin-bottom: 10px;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-body img {
    width: auto;
    height: 165px;
}

.card-body p,
h4 {
    color: white;
}

.container-precio-idioma p {
    margin-left: 36%;
    background: #743B8F;
    color: white;
}

.for {
    background: #82E89B;
    margin-left: 35%;
    text-align: center;
    color: black;
    font-size: 12px;
    width: 35%;
}

.lower button {
    background: #418215;
    color: white;
}
.lower1 button {
    background: red;
    color: white;
}

.mat-paginator{
    border :none;
    background: none;
}


