.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-nav a:hover {
    color: #743b8f;
}


/*********/

.color {
    color: #82E89B;
}

.main-section {
    border: 1px solid #007bff;
    background: #fff;
}

.profile-header {
    background: #007bff;
    height: 150px;
}

.user-detail {
    margin: -50px 0 30px 0;
}

img {
    height: 30px;
    width: 30px;
}

.user-details h5 {
    margin: 15px 0 5px 0;
}
