
<div class="main-container">
    <section class="main-container">
        <div class="table-responsive">
            <h2>Perfiles</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="search-box float-right mb-3 ">
                            <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                                <a  class="search-btn">
                                    <i class="fas fa-search"></i>
                                </a>
                        </div>  
                    </div>
                </div>
            </div>
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"> Id</th>
                        <th scope="col"> Nombre </th>
                        <th scope="col"> Correo </th>
                        <th scope="col"> Direccion </th>
                        <th scope="col"> Telefono </th>
                        <th scope="col"> &nbsp; </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profil of dataProfiles | filterProfile:filterPost">
                        <th scope="row"> {{profil.idProfile}} </th>
                        <td> {{profil.nombre}} </td>
                        <td> {{profil.email}} </td>
                        <td> {{profil.direccion}} </td>
                        <td> {{profil.phone}} </td>
                        <td>
                            <button class="btn" 
                                    data-toggle="modal" data-target="#modalProfile" placeholder="update">
                                <i class="fas fa-sync"></i></button>
                            <!-- BOTON DE ELIMINAR -->
                            <button class="btn " placeholder="delete">
                                <i class="fas fa-trash-alt"></i></button> 
                            <!-- BOTON DE DETALLE -->
                            <button class="btn" placeholder="masDetalle">
                                <i class="fas fa-user-edit"></i></button> 
                                <!-- BOTON DE LISTAS -->
                                <button class="btn" placeholder="list-product" (click)="Misproductos(profil.idProfile)">
                                <i class="fas fa-list-ul"></i></button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
 </div>  

<app-modal-profile></app-modal-profile>
