<img src="../../../../assets/img/mi_perfil.jpg" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formMyProfil">
            <div class="row">
                <div class="col-2">
                    <img class="imguser" src="'../../../../assets/img/us.png">
                    <mat-label class="nameus">Ana Pérez </mat-label>
                </div>
                <div class="col-10 datos">
                    <mat-label class="infogene">Información General </mat-label>
                    <div class="otro">
                        <mat-form-field class="mr-5 form" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>

                        <mat-form-field class="mr-5 form" appearance="outline">
                            <mat-label>Apellido Paterno </mat-label>
                            <input matInput formControlName="apepat">
                        </mat-form-field>

                        <mat-form-field class="mr-5 form" appearance="outline">
                            <mat-label>Apellido Materno </mat-label>
                            <input matInput formControlName="apemat">
                        </mat-form-field>

                        <mat-form-field class="mr-5 form" appearance="outline">
                            <mat-label>Correo electronico </mat-label>
                            <input matInput formControlName="correo">
                        </mat-form-field>

                        <mat-form-field class="mr-5 form" appearance="outline">
                            <mat-label>Contraseña </mat-label>
                            <input matInput formControlName="contrasena">
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </form>
        <mat-card-actions>
            <button class="btn opcion" routerLink="/admin/list-products"> Mis productos</button>
            <button class="btn opcion" routerLink="/admin/list-profiles"> Mis perfiles</button>
            <button class="btn opcion" routerLink="/admin/offers"> Mis ofertas</button>
            <button class="btn opcion" routerLink="/admin/reports"> Mis reportes</button>
            <button class="btn actualizar" (click)="openDialog('1')">Actualizar Perfil</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
