.example-card {
    max-width: 98%;
    align-content: center;
    margin: 2%;
    background: white;
}

.example-header-image {
    margin: 25%;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.row {
    display: flex;
    align-items: stretch;
}

.otro {
    transform: translateY(0px);
}

.actualizar {
    background: #418215;
    color: white;
    margin-right: 5px;
}