.example-card {
    max-width: 68%;
    align-content: center;
    margin: 7%;
    margin-left: 17%;
    background: white;
}

.imguser {
    max-width: 100%;
    margin-left: 10%;
}

.datos {
    margin-top: 2%;
}

.nameus {
    margin-left: 15px;
    font-size: 20px;
    color: Gray;
    margin-top: 10px;
}

.infogene {
    color: gray;
}

.form {
    font-size: 10px;
}

.row {
    display: flex;
    align-items: stretch;
}

.otro {
    transform: translateY(0px);
}

mat-card-actions {
    margin-left: 22%;
}

.opcion {
    background-color: #743B8F;
    color: white;
    margin-right: 12px;
    font-size: 12px;
}

.actualizar {
    background: #418215;
    color: white;
    margin-left: 15%;
    font-size: 12px;
}


/* XS Portrait */

@media (max-width: 480px) {
    .opcion {
        background-color: #743B8F;
        color: white;
        margin-right: 12px;
        font-size: 12px;
    }
    .actualizar {
        background: yellow;
        color: white;
        margin-left: 15%;
        font-size: 12px;
    }
}


/* xs */

@media (min-width: 360px) and (max-width: 767px) {
    mat-card-actions {
        margin-left: 28px;
    }
    .row {
        margin-left: 15%;
    }
    .imguser {
        max-width: 300px;
        margin-top: 50px;
        margin-left: -65px;
    }
    .nameus {
        margin-top: 10px;
        margin-left: -67px;
    }
    .opcion {
        background-color: #743B8F;
        color: white;
        margin-right: 12px;
        font-size: 12px;
    }
    .actualizar {
        background: #418215;
        color: white;
        margin-top: 10px;
        margin-left: 35%;
        font-size: 12px;
    }
}


/* sm */

@media (min-width: 768px) and (max-width: 1024px) {
    .opcion {
        background-color: #743B8F;
        color: white;
        margin-left: -58px;
        margin-right: 60px;
        font-size: 12px;
    }
    .actualizar {
        background: #418215;
        color: white;
        font-size: 12px;
        margin-left: -20px;
    }
}


/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    .opcion {
        background-color: #743B8F;
        color: white;
        margin-left: -26px;
        margin-right: 28px;
        font-size: 12px;
    }
    .actualizar {
        background: #418215;
        color: white;
        margin-left: 10px;
        font-size: 12px;
    }
}


/* lg */


/* @media (min-width: 1200px) {
    .opcion {
        background-color: #743B8F;
        color: white;
        margin-right: 12px;
        font-size: 12px;
    }
    .actualizar {
        background: black;
        color: white;
        margin-left: 15%;
        font-size: 12px;
    } */