<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

   Modal
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4" *ngFor=" let product of dataProducts" >
                    <img src= {{product.portada}} class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" *ngFor=" let product of dataProducts">
                      <h5 class="card-title">{{product.nombre}}</h5>
                      <p class="card-text"><small class="text-muted">Producto disponible {{product.cantidad}} </small></p>
                      <p class="card-text"> {{product.descripcion}} </p>
                      <p class="card-text"><small class="text-muted">¿te interesas?</small></p>
                      <p class="card-text"><small class="text-muted">Descarga nuestra APP</small></p>
                      <p class="card-text"><small class="text-muted">Disponible para Andorid Mobile</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->


<div *ngFor="let data of data">
    <h1 mat-dialog-title>Hi {{data.idProfile}}</h1>
    <div mat-dialog-content>
        <p>What's your favorite animal?</p>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(ngModel)]="data.nombre">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </div>
</div>