<div class="card mb-12">
    <div class="search-box float-rigth mb-6 ">
        <button mat-raised-button (click)="onNoClick()"><span class="material-icons">
            highlight_off
            </span></button> 
    </div>
    <div class="row no-gutters">
        <div class="col-3 box">
            <img [src]=" dataProducts.imagen | safeUrl" class="img-thumbnail" alt="Responsive">
        </div>
        <div class="card-body">
            <h2 class="card-color">{{dataProducts.titulo}}</h2>
            <p> Cantidad disponible : <b class="color">{{dataProducts.cantidad}} {{dataProducts.medida}} </b> </p>
            <b class="card-colo1"> {{dataProducts.descripcion}}</b>
            <h5 class="card-text"><small class="text-muted">¿Te interesa?</small> <br>
                <small class="text-muted1">Descarga nuestra APP</small>
                <i class="fab fa-android " style="color :#418215;"></i><small class="text-muted">Disponible para
                    Andorid Mobile</small>
                </h5>
            </div>
    </div>
</div>