<form [formGroup]="formPerfil">
    <div>
        <h2 class="modal-title" id="modalMyProductsLabel">Actualizar Perfil</h2>
        <div class="identificador ">
            <h5>Id: {{id}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Apellido Paterno </mat-label>
                <input matInput formControlName="apellidoPaterno">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Apellido Materno </mat-label>
                <input matInput formControlName="apellidoMaterno">
            </mat-form-field>
        </div>
        <div class="col-6">

            <mat-form-field class="mr-5">
                <mat-label>Correo electronico </mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div class="col-6">

            <mat-form-field class="mr-5">
                <mat-label>Direccion </mat-label>
                <input matInput formControlName="ubicacion">
            </mat-form-field>
        </div>

    </div>
    <div class="modal-footer">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button> 
        <button type="button" class="btn guardar" (click)="guardarPerfil()">Guardar</button>
    </div>
</form>