<form [formGroup]="formPosts">
    <div>
        <h2 class="modal-title" id="modalMyProductsLabel">Actualizar Producto</h2>
        <div class="identificador ">
            <h5>Id: {{id}}</h5>
        </div>
    </div>
    <div class="row">

        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Contenido </mat-label>
                <input matInput formControlName="contenido">
            </mat-form-field>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn guardar" (click)="guardarActPost()">Guardar</button>
    </div>

</form>