.main-container {
    margin-top: 2px;
    padding: 20px;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
  }

.colorReportar {
    color: gray; 
  }
.colorReportar:hover {
    color: #743B8F;
  }

.colorActulizar {
    color: gray; 
  }
.colorActulizar:hover {
    color: #418215;
}

.colorDelete{
    color: gray; 
  }
.colorDelete:hover {
    color: red;
}

.colorDetalle {
    color: gray; 
  }
.colorDetalle:hover {
    color: #418215;
}

.mat-paginator {
  border: none;
  background: none;
}

.search-box {
    position: relative;
    top: 80%;
    left: 35%; 
    background: rgb(241, 239, 241);
    height: 40%;
    padding: 10px;
}

.search-btn {
    color: whithe;
    float: rigth;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    border: black;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: gray;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
}