<img src="../../../assets/img/Banner_lista_clientes.jpg" class="img-fluid" alt="Responsive image">

<div class="main-container">
    <section class="main-container">
        <div class="table-responsive">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="search-box float-left mb-3 ">
                                <input type="text" class="search-text" name="filterPost" placeholder="Buscar" [(ngModel)]="filterPost">
                                <a class="search-btn">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <!-- <mat-paginator   [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event) ">
                            </mat-paginator>  -->
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                        <th scope="col"> &nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profil of resultados | filterProfile:filterPost">
                        <!-- <tr *ngFor="let profil of respuesta.data | filterProfile:filterPost "> -->
                        <th scope="row"> {{profil.id}} </th>
                        <td> {{profil.nombre}} {{profil.apellidoPaterno}} </td>
                        <td> {{profil.email}} </td>
                        <td> {{profil.ubicacion}} </td>
                        <td> {{profil.phone}} </td>
                        <td>
                            <button class="btn" (click)="openDialog(profil.id)" title="Actualizar Cliente">
                                <i class="fas fa-sync colorActulizar "></i></button>
                            <!-- BOTON DE ELIMINAR -->
                            <button class="btn" (click)="eliminarProfile(profil)">
                                <i class="fas fa-trash-alt colorDelete"></i></button>
                            <!-- BOTON DE DETALLE -->
                            <button class="btn" (click)="openDialogRep(profil.id)" data-placement="top" title="Reportar Cliente">
                                <i class="fas fa-user-edit colorReportar "></i></button>
                            <!-- BOTON DE LISTAS -->
                            <button class="btn" placeholder="list-product" data-placement="top" title="Ver Productos del Cliente" (click)="misProductos(profil.id)">
                                <i class="fas fa-list-ul colorDetalle"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
