<ng-container [formGroup]="formActualizarProductClient">
    <div class="modal fade" id="modalMyProducts" tabindex="-1" role="dialog" aria-labelledby="modalMyProductsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalMyProductsLabel">Actualizar Producto</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Closea">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <mat-form-field class="mr-5">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>

                    <mat-form-field class="mr-5">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="descripcion">
                    </mat-form-field>

                    <mat-form-field class="mr-5">
                        <mat-label>Imagen</mat-label>
                        <input matInput formControlName="imagen">
                    </mat-form-field>

                    <mat-form-field class="mr-5">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="cantidad">
                    </mat-form-field>

                    <mat-form-field class="mr-5">
                        <mat-label>Medida</mat-label>
                        <select matNativeControl>
                          <input matInput formControlName="medida">
                          <option value=""> </option>
                          <option value="kg">Kg</option>
                          <option value="mg">Mg</option>
                          <option value="l">Litros</option>
                          <option value="piezas">Piezas</option>
                        </select>
                    </mat-form-field>

                    <div class="form-group">
                        <label for="imagen">Suba tu nueva imagen</label>
                        <input type="file" class="form-control-file" formControlName="imagen">
                      </div>
                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn guardar" (click)="save()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
