.modal-header {
    font-size: 14px;
}

.identificador h5 {
    margin-top: -20px;
    color: gray;
}

.row {
    max-width: 98%;
    margin-top: 6%;
}

.guardar {
    background-color: #743b8f;
    color: white;
}


.example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }