<form [formGroup]="formActualizarProductClient">
    <!-- <div class="col-12 text-right mt-2">
        <button class="fas fa-times icon-close" mat-mini-fab color="primary" matTooltip="Cerrar Modal" matTooltipPosition="left" (click)="cerrarModal()">
    </button>
    </div> -->
    <div class="modal-header">
        <h2 class="modal-title" id="modalMyProductsLabel">Actualizar Producto</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="titulo">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Descripción </mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad">
            </mat-form-field>
        </div>
        <div class="col-6">

            <mat-form-field class="mr-5">
                <mat-label>Medida</mat-label>
                <select matNativeControl>
                          <input matInput formControlName="medida">
                          <option value=""> </option>
                          <option value="kg">Kg</option>
                          <option value="mg">Mg</option>
                          <option value="l">Litros</option>
                          <option value="piezas">Piezas</option>
                        </select>
            </mat-form-field>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="imagen">Suba tu nueva imagen</label>
                <input type="file" class="form-control-file" formControlName="imagen">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn guardar" (click)="guardar()">Guardar</button>
    </div>
</form>