<form [formGroup]="formActualizarProductClient">
    <div>
        <h2 class="modal-title" id="modalMyProductsLabel">Actualizar Producto</h2>
        <div class="identificador ">
            <h5>Id: {{id}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="titulo" required>
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Tipo </mat-label>
                <input matInput formControlName="tipo">
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Medida</mat-label>
                <input matInput formControlName="medida" required>
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field class="mr-5">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" required>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field class="example-full-width">
                <mat-label>Descripción </mat-label>
                <textarea matInput formControlName="descripcion" required></textarea>
            </mat-form-field>
        </div>

        <div class="col-12">
            <div class="form-group"> {{imageError}}
                <label for="file" class="labels">Selecciona tu nueva imagen: </label>
                <input #fileInput name="files[]" type="file" (change)="onFileSelected($event)"
                    accept="application/jpeg">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
        <button type="button" class="btn guardar" (click)="guardar()">Guardar</button>
    </div>
</form>